# .github/workflows/deploy_web.yml
name: Deploy Flutter Web App

on:
  push:
    branches: [ main ]
    paths:
      - 'lib/**'
      - 'assets/**'
      - 'pubspec.yaml'
      - '.github/workflows/deploy_web.yml'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'

      - name: Ensure web platform files exist
        run: |
          flutter create . --platforms web

      - name: Install dependencies
        run: flutter pub get

      - name: Build Flutter Web (Release)
        run: flutter build web --release --base-href "/eagle_eye_pj/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
